<a href="https://colab.research.google.com/github/sahruldotid/machine-learning/blob/main/ANN_Praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import keras 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
from sklearn.preprocessing import normalize
from sklearn import datasets
from sklearn.model_selection import train_test_split
from keras.models import Sequential 
from keras.layers import Dense,Activation,Dropout 
from keras.layers.normalization import BatchNormalization 
from keras.utils import np_utils
from keras.optimizers import Adam

In [2]:
iris = datasets.load_iris()
data= pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                 columns= iris['feature_names'] + ['target'])

data['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
del data['target']
data.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [3]:
X=data.iloc[:,0:4].values
y=data.iloc[:,4].values

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
X_normalized=normalize(X,axis=0)

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X_normalized,y,test_size=0.2,random_state=42)
y_train=np_utils.to_categorical(y_train,num_classes=3)
y_test=np_utils.to_categorical(y_test,num_classes=3)

In [6]:
model = Sequential()
model.add(Dense(1000,input_dim=4,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(300,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(3,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer=Adam(learning_rate= 0.01),metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1000)              5000
_________________________________________________________________
dense_1 (Dense)              (None, 500)               500500
_________________________________________________________________
dense_2 (Dense)              (None, 300)               150300
_________________________________________________________________
dropout (Dropout)            (None, 300)               0
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 903
=================================================================
Total params: 656,703
Trainable params: 656,703
Non-trainable params: 0
_________________________________________________________________

In [7]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=10,verbose=1)

Epoch 1/10
6/6 [==============================] - 14s 100ms/step - loss: 1.1168 - accuracy: 0.3781 - val_loss: 0.9095 - val_accuracy: 0.7000
Epoch 2/10
6/6 [==============================] - 0s 9ms/step - loss: 0.8128 - accuracy: 0.6195 - val_loss: 0.3205 - val_accuracy: 1.0000
Epoch 3/10
6/6 [==============================] - 0s 9ms/step - loss: 0.5386 - accuracy: 0.7781 - val_loss: 0.4142 - val_accuracy: 0.6667
Epoch 4/10
6/6 [==============================] - 0s 9ms/step - loss: 0.3481 - accuracy: 0.7974 - val_loss: 0.2909 - val_accuracy: 0.8333
Epoch 5/10
6/6 [==============================] - 0s 10ms/step - loss: 0.3510 - accuracy: 0.8125 - val_loss: 0.1178 - val_accuracy: 1.0000
Epoch 6/10
6/6 [==============================] - 0s 10ms/step - loss: 0.3207 - accuracy: 0.8869 - val_loss: 0.2185 - val_accuracy: 0.9000
Epoch 7/10
6/6 [==============================] - 0s 9ms/step - loss: 0.7707 - accuracy: 0.7785 - val_loss: 0.6853 - val_accuracy: 0.7000
Epoch 8/10
6/6 [==============================] - 0s 9ms/step - loss: 0.6506 - accuracy: 0.6680 - val_loss: 0.4050 - val_accuracy: 0.6333
Epoch 9/10
6/6 [==============================] - 0s 9ms/step - loss: 0.3169 - accuracy: 0.8219 - val_loss: 0.2883 - val_accuracy: 0.8333
Epoch 10/10
6/6 [==============================] - 0s 10ms/step - loss: 0.2631 - accuracy: 0.8996 - val_loss: 0.1155 - val_accuracy: 0.9667

In [8]:
from sklearn.metrics import accuracy_score
prediction=model.predict(X_test)
y_label=np.argmax(y_test,axis=1)
predict_label=np.argmax(prediction,axis=1)
print("Accuracy Score : ", accuracy_score(y_label, predict_label))

Accuracy Score :  0.9666666666666667