<a href="https://colab.research.google.com/github/sahruldotid/machine-learning/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.naive_bayes import GaussianNB
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv("NB.csv", usecols = ['harga-tanah', 'jarak-kota', 'angkot', 'dipilih'], skipinitialspace=True)
df

  harga-tanah jarak-kota angkot dipilih
0       Murah      dekat  tidak      ya
1      Sedang      dekat  tidak      ya
2       Mahal      dekat  tidak      ya
3       Mahal       jauh  tidak   tidak
4       Mahal     sedang  tidak   tidak
5      Sedang       jauh    ada   tidak
6       Murah       jauh    ada   tidak
7       Murah     sedang  tidak      ya
8       Mahal       jauh    ada   tidak
9      Sedang     sedang    ada      ya

In [3]:
X = df.iloc[:,0:3]
y = df.iloc[:,3]

In [11]:
feature_pred = {'harga-tanah':'Mahal', 
                'jarak-kota':'sedang', 
                'angkot':'ada'}
X = X.append(feature_pred, ignore_index=True)

In [10]:
le = preprocessing.LabelEncoder()
X = X.apply(le.fit_transform)
detail = le.fit(y)
label = detail.transform(y)
label = np.reshape(label, (-1, 1))
X_train = X.loc[0:9]
X_test = X.loc[10]
X_test = X_test.to_numpy()
X_test = np.reshape(X_test, (1, -1))

In [6]:
clf = GaussianNB()
clf.fit(X_train, label)

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [7]:
prediction = clf.predict(X_test)

In [9]:
detail.inverse_transform(prediction)

array(['tidak'], dtype=object)