<a href="https://colab.research.google.com/github/sahruldotid/machine-learning/blob/main/NormalizePy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from random import randint

df = pd.DataFrame(np.array([randint(18,45) for i in range(1,21)]), columns=['umur'])
df.head()

   umur
0    37
1    38
2    19
3    40
4    39

In [ ]:
df["umur_sfs"] = df['umur'] / df['umur'].max()
df.head()

   umur  umur_sfs
0    27  0.613636
1    34  0.772727
2    21  0.477273
3    30  0.681818
4    38  0.863636

In [ ]:
df["umur_min-max"] = (df['umur'] - df['umur'].min()) / (df['umur'].max() - df['umur'].min()) 
df.head()

   umur  umur_sfs  umur_min-max
0    27  0.613636      0.346154
1    34  0.772727      0.615385
2    21  0.477273      0.115385
3    30  0.681818      0.461538
4    38  0.863636      0.769231

In [ ]:
df["umur_z"] = (df['umur'] - df['umur'].mean()) / df['umur'].std()
df.head()

   umur  umur_sfs  umur_min-max    umur_z
0    27  0.613636      0.346154 -0.509833
1    34  0.772727      0.615385  0.405252
2    21  0.477273      0.115385 -1.294192
3    30  0.681818      0.461538 -0.117654
4    38  0.863636      0.769231  0.928158